*{
    margin: 0px;
    padding: 0px;
    background-color: #0d0e0d;
}
h1{
    text-align: center;
    margin-top: 50px;
    color: lightblue;
    font-weight: 500;
}
.calculator {
    width: 250px;
    margin: 50px auto;
    border: 5px solid lightblue;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(10, 10, 10);
  }
  
  input {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    font-size:40px;
    color: lightblue;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  } 
  button {
    padding: 15px;
    font-size: 29px;
    border-radius:7%;
    border: none;
    cursor: pointer;
    background-color: #f8e9e9;
  }
  
  button:hover {
    background-color: lightblue;
  }